

.mapContainer {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}
.info{
    position: fixed;
    top: 20px;
    left: 20px;
    position: fixed;
    top: 20px;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
}